 /* Hide the up and down arrows for number input */
 input[type='number']::-webkit-outer-spin-button,
 input[type='number']::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 input[type='number'] {
     -moz-appearance: textfield;
     /* For Firefox */
 }


 .active_btn_donate_history{
    background-color: rgb(180, 244, 97);
    color: rgb(17, 17, 17) ;
    border: 1px solid rgb(180, 244, 97);
 }
 
 .inactive_btn_donate_history{
    background: none;
    border: 1px solid gray;
    color: rgb(17, 17, 17) ;
    
 }